[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "*"
tinydb = "*"
masstransitpython-byq96 = "*"
gpiozero = "*"
protobuf = "==3.20.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
